@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;500&display=swap');



#auth-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

#main-navbar {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-container {
    background: #fff;
    border: 1px solid #e6e6e6;
}

.nav-icon a {
    color: #262626;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}
.nav-icon a:hover {
    color: #1d5e72;;
}
#profile-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 1px;
    margin-top: 6em;
}

#user-posts #post-thumb {
    background: #fff;
}

.no-margin{
    margin: 0;
}

.no-padding {
    padding: 0;
}

.Teko-Medium {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    color: red;
    font-style: italic;
    /**
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);**/

}

.Teko-Light {
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
}

.news li {
    margin-left: 20px;
    padding: 0;
}

.news p {
    margin-bottom: 0;
}

/** CSS TO PUT MAGNIFYING GLASS INSIDE THE INPUT BAR **/
.search-bar-container {
    position: relative;
}

.search-bar-container input {
    width: 100%;
    padding-right: 30px; /* Espacio para el ícono */
}

.search-icon {
    position: absolute;
    right: 10px; /* Ajusta la posición a la derecha */
    top: 50%;
    transform: translateY(-50%); /* Centra el ícono verticalmente */
    pointer-events: none; /* Hace que el ícono no afecte la funcionalidad del input */
}

a {
    text-decoration: none;
    color: black;
}

.shadow {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}
