/** NEXT CODE IS FOR THE TABLE DISPLAYED ON THE USER PROFILE **/
.custom-table {
    width: 100%;
    border-collapse: separate;
}
.custom-table th {
    position: relative; /* Position relative to allow absolute positioning of pseudo-elements */
    border-radius: 10px;
}

thead th td {
    border-right: 5px solid transparent;
}

.custom-table th, .custom-table td {
    text-align: center;
}

.demon-link, .btn-video-proof, .cell-content, .no-video {
    /* Add your specific styles for links, buttons, and text content */
}

.btn-video-proof {
    /* Style the buttons to look like the 'YouTube' buttons in the image */
    background-color: blue;
    color: white;
    /* Add more button styling */
}

.no-records-cell {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0;
}

.custom-table th::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: transparent; /* Transparent space */
}


.custom-table th:last-child::after {
    display: none; /* Remove pseudo-element from the last cell to avoid extra space on the right */
}

.statistic-container {
    background-color: white;
    border-radius: 10px;
}