{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>{{ user.username }} | Platform Demon List</title>
{% endblock %}

{% block container %}

    <div class="container mb-5" style="margin-top: 8em;">
        <div class="row">

            <div class="col-sm-4 d-flex justify-content-center">
                <img
                    src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/default-profile.png' %}{% endif %}"
                    alt="{{ user.username}}"
                    class="rounded-circle"
                    width="200px"
                    height="200px"
                />
            </div>

            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    {{ user.username }} <img src="{{user.profile.country.picture.url}}" height="35" class="d-inline-block align-top" style="margin-left: 10px;"/>
                    {% if user == request.user %}
                        <a
                            href="{% url "users:update" %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        <form method="POST" style="display: inline-block;">
                            {% csrf_token %}
                            {% if following %}
                            <input type="hidden" name="action" value="unfollow">
                            <button type="submit" class="ml-5 btn btn-sm btn-primary">Unfollow</button>
                            {% else %}
                            <input type="hidden" name="action" value="follow">
                            <button type="submit" class="ml-5 btn btn-sm btn-primary">Follow</button>
                            {% endif %}
                        </form>
                    {% if request.user.groups.get|stringformat:"s" == "Mod" %}
                        <form method="POST" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <button type="submit" class="ml-5 btn btn-sm btn-danger">Delete Profile Picture</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </h2>

                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>{{records|length}}</b> records
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.followers.count }}</b> followers
                    </div>
                    <div class="col-sm-4">
                        <b>{{ user.profile.followings.count }}</b> following
                    </div>
                </div>
                <div class="row mt-4">
                    {% if user.profile.bio %}
                    <div class="col-sm-12">
                        <p>{{ user.profile.bio }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="container" id="user-records">
        <div class="row mt-4">
            <div class="d-flex justify-content-center text-center">
                <span style="margin-right: 60px;"><b>Hardest: </b><br>{{hardest}}</span>
                <span style="margin-right: 60px;"><b>Ranking: </b><br>{{ranking}}</span>
                <span style="margin-right: 60px;"><b>List Points: </b><br>{{user.profile.list_points}}</span>
                <span style="margin-right: 60px;"><b>Demons beaten: </b><br>{{records|length}}</span>
            </div>
        </div>
        <p style="font-size: 28px; color: #454546; font-weight: bold; text-align: center; margin-bottom: 10px;">Records</p>
        <div class="row mt-3">
            <table class="table custom-table" id="tablePlayers">
                <thead>
                    <tr>
                        <th style="text-align: center;">Demon</th>
                        <th style="text-align: center;">Best Time</th>
                        <th style="text-align: center;">Video Proof</th>
                    </tr>
                </thead>
                <tbody>
                    {% if records %}
                    {% for record in records %}
                    <tr class="table-row">
                        <td class="demon-cell" style="text-align: center;">#{{record.demon.position}} {{record.demon}}</td>
                        <td class="best-time-cell" style="text-align: center;">{{record.best_time|date:"H"}}:{{record.best_time|date:"i"}}:{{record.best_time|date:"s"}}.{{record.best_time|date:"u"|slice:":3"}}</td>
                        <td class="video-link-cell text-center align-middle" style="text-align: center;">
                            <a class="btn btn-primary" href="{{record.video}}" target="_blank">YouTube</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="table-row">
                        <td colspan="4" class="record-cell" style="text-align: center;">
                            There have been no records yet
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}