{% extends "base.html" %}
{% load static %}

{% block head_content %}
<link rel="stylesheet" href="{% static 'css/userTable.css' %}"/>
<title>{{ user.username }} | Platformer Demon List</title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endblock %}

{% block container %}

    <style>
        /** Styles for global ranking **/
        .global-rank-container {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            width: 260px; /* ajusta el ancho según sea necesario */
            margin: auto;
            position: relative;
            padding-top: 60px;
        }
        
        .global-rank-header {
            border-radius: 10px;
            background-color: #54a1f8;
            color: white; /* ajusta el color del texto según sea necesario */
            margin-bottom: 10px;
            text-align: center;
            font-size: 24px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            padding: 10px 0;
        }
        
        .global-row {
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
            margin-bottom: 5px;
            padding: 10px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        

        body.popup-open_followers {
            overflow: hidden; /* Evita el desplazamiento cuando el pop-up está abierto */
        }

        .popup_followers {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            z-index: 999;
            width: 80%;
            height: 80%;
            max-width: 400px; /* Establece un ancho máximo para el pop-up */
            max-height: 400px; /* Establece una altura máxima para el pop-up */
            overflow: auto; /* Añade desplazamiento si el contenido excede las dimensiones */
        }
    
        /* Estilos del scrollbar */
        .popup_followers::-webkit-scrollbar {
            width: 12px; /* Ancho del scrollbar */
        }

        .popup_followers::-webkit-scrollbar-thumb {
            background-color: #888; /* Color del "thumb" (la barra que puedes arrastrar) */
            border-radius: 6px; /* Borde redondeado del "thumb" */
        }

        .popup_followers::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Color del "track" (la parte en la que se desplaza el "thumb") */
            border-radius: 8px; /* Borde redondeado del "track" */
        }

        .overlay_followers {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 998;
        }

        body.popup-open_following {
            overflow: hidden; /* Evita el desplazamiento cuando el pop-up está abierto */
        }

        .popup_following {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            z-index: 999;
            width: 80%;
            height: 80%;
            max-width: 400px; /* Establece un ancho máximo para el pop-up */
            max-height: 400px; /* Establece una altura máxima para el pop-up */
            overflow: auto; /* Añade desplazamiento si el contenido excede las dimensiones */
        }
    
        /* Estilos del scrollbar */
        .popup_following::-webkit-scrollbar {
            width: 12px; /* Ancho del scrollbar */
        }

        .popup_following::-webkit-scrollbar-thumb {
            background-color: #888; /* Color del "thumb" (la barra que puedes arrastrar) */
            border-radius: 6px; /* Borde redondeado del "thumb" */
        }

        .popup_following::-webkit-scrollbar-track {
            background-color: #f1f1f1; /* Color del "track" (la parte en la que se desplaza el "thumb") */
            border-radius: 8px; /* Borde redondeado del "track" */
        }

        .overlay_following {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 998;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            background-color: gray; /* Color de fondo */
            color: white; /* Color del texto */
            border: none;
            font-size: 16px;
            border-radius: 5px;
            transition: background-color 0.3s; /* Efecto de transición */
        }

        .user-element {
            display: flex;
            align-items: center;
            margin-bottom: 10px; /* Puedes ajustar esto según sea necesario */
        }

        .user-picture {
            margin-right: 10px;
        }

        .user-link {
            color: black;
            margin-left: 20px;
            margin-top: 20px;
        }

        .user-link:hover {
            color: black;
        }
    </style>
<div class="container py-5 my-5" style="margin-top: 5em;">
    <!-- ROW FOR LAYOUT -->
    <div class="row align-items-center">
        <div class="col-md-4">
                <!-- CONTENEDOR DE ESTADISTICAS -->
            <div class="d-flex justify-content-center text-center statistic-container" style="margin: 0; padding: 0;">
                <table style="width: 100%; border-collapse: separate; border-spacing: 0; border-radius: 10px; overflow: hidden;">
                    <tbody>
                        <tr>
                            <th colspan="2" style="background-color:#54a1f8; color: white; border-radius: 5px;" class="Teko-Light TekoRed BlackBackground">STATISTICS</th>
                        </tr>
                        <!-- Asegurarse de que las celdas tengan el mismo ancho -->
                        <tr>
                            <td style="width: 50%;"><b class="Teko-Light">Hardest:</b></td>
                            <td style="width: 50%;">{{hardest}}</td>
                        </tr>
                        <tr>
                            <td><b class="Teko-Light">Ranking:</b></td>
                            <td>{{ranking}}</td>
                        </tr>
                        <tr>
                            <td><b class="Teko-Light">List Points:</b></td>
                            <td>{{user.profile.list_points}}</td>
                        </tr>
                        <tr>
                            <td><b class="Teko-Light"> Demons beaten:</b></td>
                            <td>{{records|length}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <!-- Column for profile picture and username-->
        <div class="col-md-4 justify-content-center">
            <div class="col-md-6">            
                <img
                    src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/default-profile.png' %}{% endif %}"
                    alt="@{{ user.username}}"
                    class="rounded-circle"
                    width="200px"
                    height="200px"
                />
                <div class="username Teko-Light" style="margin-top: 10px;">
                    {{ user.username }}
                </div>
            </div>
            
            <div class="col-md-6">
                <h2 style="font-weight: 300; font-size: 30px;" class="Teko-Light">
                    <div class="user-info">
                        <!-- User image -->
                        <img src="{{user.profile.country.picture.url}}" title="{{user.profile.country}}" height="35" class="user-image" />
                        <!-- ALIGN THIS TO THE LEFT OF THE IMG -->
                        <!-- ROW FOR RECORD, FOLLOWERS, FOLLOWING, IN THAT ORDER -->
                    <div class="row mt-2" style="font-size: 1.2em">
                        <div class="col-sm-4">
                            <b> <span class="Teko-Light"> {{records|length}} </span> <br> 
                            </b> <span class="Teko-Light"> Records </span>
                        </div>
                        <div class="col-sm-4">
                            <b> <span class="Teko-Light"> {{ user.profile.followers.count }} </span><br> 
                            </b> <button onclick="show_followers()" style="border: none; background-color: transparent; cursor: pointer; padding: 0; margin: 0;">  <span class="Teko-Light"> Followers </span> </button>
                        </div>
                        <div class="col-sm-4">
                            <b> <span class="Teko-Light"> {{ user.profile.followings.count }} </span> <br>
                            </b> <button onclick="show_following()" style="border: none; background-color: transparent; cursor: pointer; padding: 0; margin: 0;">  <span class="Teko-Light"> Following  <span class="Teko-Light"> </button>
                        </div>
                    </div>
                    <!-- ROW FOR RECORD, FOLLOWERS, FOLLOWING, IN THAT ORDER -->
                        {% if user.profile.discord %}
                        <div class="col-sm-12">
                            <i class="fab fa-discord" style="font-size: 30px; color: #7289da; float: left;"></i>
                            <p style="font-size: 1.2em; margin-left: 40px;" class="Teko-Light">{{ user.profile.discord }}</p>
                        </div>
                        {% endif %}
                        <div class="col-sm-12">
                            <i class="fas fa-user" style="font-size: 26px; color: #43BD43; float: left;"></i>
                            <p style="font-size: 1.2em; margin-left: 40px;" class="Teko-Light">Joined date: {{ user.profile.created|date }}</p>
                        </div>
                        <!-- Display edit profile and record status buttons if the logged-in user is viewing their own profile -->
                    {% if user == request.user %}
                    <div class="d-flex justify-content-start" >
                        <a href="{% url 'users:update' %}" class="btn btn-sm btn-outline-info Teko-Light TekoRed">Edit profile</a>
                        <a href="{% url 'users:records_status' %}" class="btn btn-sm btn-outline-info Teko-Light TekoRed">Records Status</a>
                    </div>
                    {% else %}
                    <!-- If viewing another user's profile, show follow/unfollow buttons -->
                    <form method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <!-- If the logged-in user is following the profile, show an unfollow button -->
                        {% if following %}
                        <input type="hidden" name="action" value="unfollow">
                        <button type="submit" class="ml-5 btn btn-sm btn-primary">Unfollow</button>
                        <!-- Otherwise, show a follow button -->
                        {% else %}
                            <!-- If the visitor is not logged in, prompt them to log in to follow -->
                            {% if request.user.is_anonymous %}
                                <a href="{% url 'users:login' %}" class="ml-5 btn btn-sm btn-primary">Follow</a>
                            <!-- If logged in, show the follow button -->
                            {% else %}
                                <input type="hidden" name="action" value="follow">
                                <button type="submit" class="ml-5 btn btn-sm btn-primary">Follow</button>
                            {% endif %}
                        {% endif %}
                    </form>
                <!-- Display verified badge if the user is verified -->
                {% if user.profile.verified %}
                <i class="fas fa-check-circle" style="margin-left: 10px; color: #4169E1;"></i>
                {% endif %}

                <!-- Display social media links if they exist in the user's profile -->
                {% if user.profile.youtube_channel %}
                <a href="{{user.profile.youtube_channel}}" target="_blank" id="youtube_button"><i class="fab fa-youtube"></i></a>
                {% endif %}

                {% if user.profile.twitter %}
                <a href="{{user.profile.twitter}}" target="_blank" id="twitter_button"><i class="fab fa-twitter"></i></a>
                {% endif %}

                {% if user.profile.twitch %}
                <a href="{{user.profile.twitch}}" target="_blank" id="twitch_button"><i class="fab fa-twitch"></i></a>
                {% endif %}

                <!-- If the user has a Facebook profile, display the link -->
                {% if user.profile.facebook %}
                <a href="{{user.profile.facebook}}" target="_blank" id="facebook_button"><i class="fab fa-facebook"></i></a>
                {% endif %}

                <!-- NO FUCKING CLUE WHAT THIS DOES -->
                <!-- PART 1 -->
                <div class="overlay_followers" id="overlay_followers" onclick="hide_followers()"></div>
                <div id="popup_followers" class="popup_followers">
                    <div style="text-align: center; font-size: 20px;">
                        <b>Followers</b>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <input class="mb-4" style="margin-top: 10px; width: 220px; height: 40px; background-color: #f8f9fa; color: #495057; border: 2px solid #ced4da; " type="text" id="search_follower" placeholder="Search user..." oninput="search_user(this, 'followers');">
                        </div>
                        <div class="user-container_followers" id="user-container_followers">
                        {% for follower in user.profile.followers.all %}
                            <div class="user-element" id="user_{{follower.user.id}}">
                                {% if follower.picture %}
                                    <img src="/media/{{ follower.picture }}" width="50" height="50" class="d-inline-block align-top rounded-circle user-picture"/>
                                {% else %}
                                    <img src="{% static 'img/default-profile.png' %}" width="50" height="50" class="d-inline-block align-top rounded-circle user-picture"/>
                                {% endif %}
                                <div class="user-info">
                                    <a href="{% url 'users:detail' follower.user.id %}" target="_blank" class="user-link">{{follower}}</a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        <button onclick="hide_followers()" class="close-button">X</button>
                    </div>
                </div>

                <!-- PART 2 -->
                <div class="overlay_following" id="overlay_following" onclick="hide_following()"></div>
                        <div id="popup_following" class="popup_following">
                            <div style="text-align: center; font-size: 20px;">
                                <b>Following</b>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <input class="mb-4" style="margin-top: 10px; width: 220px; height: 40px; background-color: #f8f9fa; color: #495057; border: 2px solid #ced4da;" type="text" id="search_following" placeholder="Search user..." oninput="search_user(this, 'following');">
                            </div>
                            <div class="user-container_following" id="user-container_following">
                            {% for following in user.profile.followings.all %}
                                <div class="user-element" id="user_{{following.user.id}}">
                                    {% if following.picture %}
                                        <img src="/media/{{ following.picture }}" width="50" height="50" class="d-inline-block align-top rounded-circle user-picture"/>
                                    {% else %}
                                        <img src="{% static 'img/default-profile.png' %}" width="50" height="50" class="d-inline-block align-top rounded-circle user-picture"/>
                                    {% endif %}
                                    <div class="user-info">
                                        <a href="{% url 'users:detail' following.user.id %}" target="_blank" class="user-link">{{following}}</a>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <button onclick="hide_following()" class="close-button">X</button>
                        </div>
                <!-- PART 3 -->
                <!-- If the logged-in user is a moderator, show a button to delete the profile picture -->
                {% if request.user.groups.get|stringformat:"s" == "Mod" %}
                <form method="POST" style="display: inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="delete">
                    <button type="submit" class="ml-5 btn btn-sm btn-danger" style="background-color: red;">Delete Profile Picture</button>
                </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <!-- Column for user ranking -->
        <div class="col-md-4 d-flex" style="position: relative; padding-top: 50px;">
        
            <div class="global-rank-container">
                <div class="global-rank-header Teko-Light">
                    GLOBAL RANK
                </div> 
                <div class="global-row Teko-Light" id="rank1">
                    username_1
                </div>
                <div class="global-row Teko-Light" id="rank2">
                    username_2
                </div>   
                <div class="global-row Teko-Light" id="rank3">
                    username_3
                </div>                  
            </div>

        </div>

        


    <hr>

    
   
    <!-- TABLE CONTAINER -->
    <div class="row mt-3">
        <div class="col-md-12">
            <!-- Custom styled table -->
            <table class="table custom-table" id="tablePlayers">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th class="header-demon Teko-Light TekoRed BlackBackground">Demon</th>
                        <th class="header-best-time Teko-Light TekoRed BlackBackground">Best Time</th>
                        <th class="header-top Teko-Light TekoRed BlackBackground">Top</th>
                        <th class="header-video-proof Teko-Light TekoRed BlackBackground">Video Proof</th>
                    </tr>
                </thead>
                <!-- Table body -->
                <tbody>
                    <!-- Check if there are records to display -->
                    {% if records %}
                    <!-- Loop through each record -->
                    {% for record in records %}
                    <tr>
                        <!-- Demon name and position -->
                        <td class="demon-cell"><div class="cell-content"><a href="{% url 'demonlist:detail' record.demon.position %}" class="demon-link">#{{record.demon.position}} {{record.demon}}</a></div></td>
                        <!-- Best time with formatting for hours, minutes, seconds, and milliseconds -->
                        <td class="best-time-cell"><div class="cell-content">{{record.best_time|date:"H"}}:{{record.best_time|date:"i"}}:{{record.best_time|date:"s"}}.{{record.best_time|date:"u"|slice:":3"}}</div></td>
                        <!-- Top order and best time rankings -->
                        <td class="top-cell"><div class="cell-content">[#{{record.top_order}} by order] [#{{record.top_best_time}} by best time]</div></td>
                        <!-- Video proof link -->
                        <td class="video-link-cell">
                            <!-- Check if there is a video link -->
                            {% if record.video %}
                            <a class="btn-video-proof" href="{{record.video}}" target="_blank">{{record.video_platform}}</a>
                            {% else %}
                            <!-- If no video, provide empty space or alternative content -->
                            <div class="no-video">No Video</div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <!-- Message if there are no records -->
                    <tr class="table-row"  class="no-records-cell">
                        <td colspan="4">There have been no records yet</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    

    <script>
        let list_users = []
        function show_followers() {
          document.body.classList.add('popup-open_followers');
          document.getElementById('popup_followers').style.display = 'block';
          document.getElementById('overlay_followers').style.display = 'block';
        }

        function show_following() {
            document.body.classList.add('popup-open_following');
            document.getElementById('popup_following').style.display = 'block';
            document.getElementById('overlay_following').style.display = 'block';
          }
      
        function hide_followers() {
          document.body.classList.remove('popup-open_followers');
          document.getElementById('popup_followers').style.display = 'none';
          document.getElementById('overlay_followers').style.display = 'none';
        }

        function hide_following() {
            document.body.classList.remove('popup-open_following');
            document.getElementById('popup_following').style.display = 'none';
            document.getElementById('overlay_following').style.display = 'none';
          }

        function search_user(user, option)
        {
        console.log("aver");
        data = {}
        data.user = user.value;
        data.option = option;
        $.ajax({
            type: "post", // "post" "get" "delete" "put"
            data: data, // PREFERIBLEMENTE JSON
            cache: false,
            headers: {
            "X-CSRFToken": Cookies.get("csrftoken")
                    },
                    success: function (response) {
                    console.log($("#user-container_" + option))
                    $("#user-container_" + option).empty();

                    $(response).each(function (index, user) {
                        fila=`<div class="user-element" id="user_` + user.user__id + `">`
                        if (user.picture){
                            fila+=`<img src="/media/` + user.picture + `" width="50" height="50" class="d-inline-block align-top rounded-circle user-picture"/>`
                        }
                        else {
                            fila+=`<img src="{% static 'img/default-profile.png' %}" width="50" height="50" class="d-inline-block align-top rounded-circle user-picture"/>`
                        }
                        fila+=`<div class="user-info"><a href="{% url 'users:detail' 1234 %}" target="_blank" class="user-link">`.replace(/1234/, user.user__id) + user.user__username + `</a></div></div>`
                        $('#user-container_' + option).append(fila);
                        
                    })
                }
            })
        }
      </script>
    </body>


{% endblock %}
{% block footer_margin %}100{% endblock  %}
