{% extends "base.html" %}
{% load static %}

{% block head_content %}
<head>
    <!-- CSS of the Record's table -->
    <link rel="stylesheet" href="{% static 'css/detail.css' %}"/>
    <title>{{ user.username }} | Platformer Demon List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    </head>
{% endblock %}
    
{% block container %}
<body>


<section class="userProfile">
    <div class="container-fluid">

        <div class="row align-items-center mt-5">
            <div class="col-12" id="stats-table">


                <div class="statistics-container" style="margin-bottom: 5rem;">
                    <table class="stats-table shadow" style="border: none;">
                        <tbody>
                            <tr class="table-row">
                                <th class="table-header Teko-Light title-container" colspan="2" style="display:flwx;">
                                    <p style="margin-bottom: 0; font-size: 25px;" class="title"> STATISTICS </p>
                                </th>
                            </tr>
                            
                            <tr class="table-row Teko-Light black-background">
                                <td style="width: 50%; display: flex;"><b>Hardest:</b></td>
                                <td style="width: 50%;">{{hardest}}</td>
                            </tr>

                            <tr class="table-row Teko-Light black-background">
                                <td><b>Ranking:</b></td>
                                <td>{{ranking}}</td>
                            </tr>

                            <tr class="table-row Teko-Light black-background">
                                <td><b>List Points:</b></td>
                                <td>{{user.profile.list_points}}</td>
                            </tr>

                            <tr class="table-row Teko-Light black-background">
                                <td><b > Demons beaten: </b></td>
                                <td>{{records|length}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-12" id="profile-container" style="margin-bottom: 5rem;">
                <div class="row">
                    <div class="d-none d-md-block">
                    </div>
                    <div class="col-12">
                        <div id="user-image-container" class="d-flex justify-content-center align-items-center">
                            <img
                                src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'img/default-profile.png' %}{% endif %}"
                                alt="@{{ user.username}}"
                                class="rounded-circle"
                                width="300px"
                                height="300px"

                            />
                        </div>

                        <div id="username-container" class="d-flex justify-content-center align-items-center">
                            <!-- Flag User Icon -->
                            <div class="flag-user-icon me-2">
                                <img src="{{ user.profile.country.picture.url }}" title="{{ user.profile.country }}" height="35" class="user-image"/>
                            </div>
                            
                            <!-- Username -->
                            <div class="username-display Teko-Medium" style="font-size: 28px; color: black;">
                                {{ user.username }}
                            </div>
                        </div>
                        
                        
                        <div id="social-media-icons" class="d-flex justify-content-center">
                            <div class="row">
                                <!-- Verified Icon -->
                                {% if user.profile.verified %}
                                <div class="col-auto">
                                    <i class="fas fa-check-circle" style="color: #4169E1;"></i>
                                </div>
                                {% endif %}
                        
                                <!-- Social Media Links -->
                                {% if user.profile.youtube_channel %}
                                <div class="col-auto">
                                    <a href="{{ user.profile.youtube_channel }}" target="_blank" id="youtube_button"><i class="fab fa-youtube"></i></a>
                                </div>
                                {% endif %}
                        
                                {% if user.profile.twitter %}
                                <div class="col-auto">
                                    <a href="{{ user.profile.twitter }}" target="_blank" id="twitter_button"><i class="fab fa-twitter"></i></a>
                                </div>
                                {% endif %}
                        
                                {% if user.profile.twitch %}
                                <div class="col-auto">
                                    <a href="{{ user.profile.twitch }}" target="_blank" id="twitch_button"><i class="fab fa-twitch"></i></a>
                                </div>
                                {% endif %}
                        
                                {% if user.profile.facebook %}
                                <div class="col-auto">
                                    <a href="{{ user.profile.facebook }}" target="_blank" id="facebook_button"><i class="fab fa-facebook"></i></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        
                    </div>

                    <div id="medium-block-container" class="mt-5">
                        <div class="col-12">
                            <!-- The next block of code contains the counter of Records-Followers-Following-->
                            <div id="follower-stats-row" class="d-flex justify-content-center align-items-center">
                                <!-- Row Container for Horizontal Alignment -->
                                <div class="d-flex justify-content-around w-100">
                                    <!-- Records Column -->
                                    <div  id="records-column" class="d-flex flex-column align-items-center">
                                        <b> <span class="record-value Teko-Light"> {{ records|length }} </span></b>
                                        <span class="Teko-Light"> Records </span>
                                    </div>
                            
                                    <!-- Followers Column -->
                                    <div id="followers-column" class="d-flex flex-column align-items-center">
                                        <b> <span class="record-value Teko-Light"> {{ user.profile.followers.count }} </span></b>
                                        <button onclick="show_followers()" style="border: none; background-color: transparent; cursor: pointer; padding: 0; margin: 0;">
                                            <span class="Teko-Light"> Followers </span>
                                        </button>
                                    </div>
                            
                                    <!-- Following Column -->
                                    <div id="followings-column" class="d-flex flex-column align-items-center">
                                        <b> <span class="record-value Teko-Light"> {{ user.profile.followings.count }} </span></b>
                                        <button onclick="show_following()" style="border: none; background-color: transparent; cursor: pointer; padding: 0; margin: 0;">
                                            <span class="Teko-Light"> Following </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End of block -->

                            <!-- Description container -->
                            <div id="description-container">
                                <div class="d-flex justify-content-center">
                                    <h3 class="Teko-Light"> HERE MUST GO THE DESCRIPTION </h3>
                                </div>
                            </div>
                            <!-- End of description container.-->

                            <!-- Container of discord and joined icons/data-->
                            <div id="media-icons-container d-flex"> <!-- It says media but it's actually the Discord Nickname and the Join date -->
                                <div class="d-flex justify-content-center">
                                    <div id="discord-data">
                                        {% if user.profile.discord %}
                                            <i class="fab fa-discord" style="font-size: 30px; color: #7289da; float: left;"></i>
                                            <p style="font-size: 1.2em; margin-left: 40px;" class="Teko-Light">{{ user.profile.discord }}</p>
                                        {% endif %}
                                    </div>

                                    <div id="joined-date-data">
                                        <i class="fas fa-user" style="font-size: 26px; color: #43BD43; float: left;"></i>
                                        <p style="font-size: 1.2em; margin-left: 40px;" class="Teko-Light">Joined date: {{ user.profile.created|date }}</p>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <div id="edit-profile-buttons">
                                        <div class="button-container d-flex justify-content-center">
                                            {% if user == request.user %}
                                            <div class="">
                                                <a href="{% url 'users:update' %}" class="btn btn-sm btn-outline-info Teko-Light TekoRed shadow" style="background-image: linear-gradient(to right, #00BFFF, #1E90FF); padding: margin: 0;">Edit profile</a>
                                                <a href="{% url 'users:records_status' %}" class="btn btn-sm btn-outline-info Teko-Light TekoRed shadow" style="background-image: linear-gradient(to right, #00BFFF, #1E90FF); margin: 0;">Records Status</a>
                                            </div>
                                            {% else %}
                                                <form method="POST" class="d-flex justify-content-center">
                                                {% csrf_token %}
                                                {% if following %}
                                                    <input type="hidden" name="action" value="unfollow">
                                                    <button type="submit" class="btn btn-sm btn-primary">Unfollow</button>
                                                {% else %}
                                                    {% if request.user.is_anonymous %}
                                                        <a href="{% url 'users:login' %}" class="btn btn-sm btn-primary">Follow</a>
                                                    {% else %}
                                                        <input type="hidden" name="action" value="follow">
                                                        <button type="submit" class="btn btn-sm btn-primary">Follow</button>
                                                    {% endif %}
                                                {% endif %}
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="12" id="global-rank-container" style="margin: 5rem 20px;">
                <div class="row">
                    <div class="global-rank-header shadow Teko-Light title-container" 
                    style="
                        border-radius: 10px;
                        color: white;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        ">
                        <p class="title" style="font-size: 24px; margin: 0;"> GLOBAL RANK </p>
                    </div>

                    <!-- Space -->

                    <div class="row">
                        <div class="global-rank-user-data Teko-Light shadow black-background" style="padding: 5px; border: none; margin-bottom: 3px;">
                            <p style="margin: 0;"> USERDATA </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="global-rank-user-data Teko-Light shadow black-background" style="padding: 5px; border: none; margin-bottom: 3px;";>
                            <p style="margin: 0;"> USERDATA </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="global-rank-user-data Teko-Light shadow black-background" style="padding: 5px; border: 0.5px; margin-bottom: 3px;">
                            <p style="margin: 0;"> USERDATA </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12" style="margin-bottom: 5rem">
                <!-- Custom styled table -->
                <table class="table custom-table" id="tablePlayers">
                    <!-- Table header -->
                    <thead>
                        <tr>
                            <th class="header-demon Teko-Light title-container title" style="padding-right: 1rem;">Demon</th>
                            <th class="header-best-time Teko-Light title-container title" style="padding-right: 1rem;">Best Time</th>
                            <th class="header-top Teko-Light title-container title" style="padding-right: 1rem;">Top</th>
                            <th class="header-video-proof Teko-Light title-container title" style="padding-right: 1rem;">Video Proof</th>
                        </tr>
                    </thead>
                    <!-- Table body -->
                    <tbody>
                        <!-- Check if there are records to display -->
                        {% if records %}
                            <!-- Loop through each record -->
                            {% for record in records %}
                                <tr>
                                    <!-- Demon name and position -->
                                    {% if record.demon %}
                                    <td class="demon-cell">
                                        <div class="cell-content black-background" >
                                            <a href="{% url 'demonlist:detail' record.demon.position %}" class="demon-link"></a>
                                            #{{ record.demon.position }} {{ record.demon }}
                                        </div>
                                    </td>
                                        
                                    {% else %}
                                    <td colspan="1" class="demon-cell">
                                       <div class="cell-content black-background">
                                         No data
                                       </div>
                                    </td>
                                    {% endif %}
                                   
                    
                                    <!-- Best time with formatting for hours, minutes, seconds, and milliseconds -->
                                    <td class="best-time-cell">
                                        <div class="cell-content">
                                            {% if record.best_time %}
                                                {{ record.best_time|date:"H" }}:{{ record.best_time|date:"i" }}:{{ record.best_time|date:"s" }}.{{ record.best_time|date:"u"|slice:":3" }}
                                            {% else %}
                                                No data
                                            {% endif %}
                                        </div>
                                    </td>
                    
                                    <!-- Top order and best time rankings -->
                                    <td class="top-cell">
                                        <div class="cell-content ">
                                            {% if record.top_order and record.top_best_time %}
                                                [#{{ record.top_order }} by order] [#{{ record.top_best_time }} by best time]
                                            {% else %}
                                            <td colspan="4" class="no-records-cell">No records</td>
                                            {% endif %}
                                        </div>
                                    </td>
                    
                                    <!-- Video proof link -->
                                    <td class="video-link-cell">
                                        <div class="cell-content">
                                            {% if record.video %}
                                                <a class="btn-video-proof" href="{{ record.video }}" target="_blank">{{ record.video_platform }}</a>
                                            {% else %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <!-- Message if there are no records -->
                            <tr class="table-row">
                                <td colspan="4" class="no-records-cell Teko-Light black-background" style="background-color: white;" >No records</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>                        
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block footer_margin %}100{% endblock  %}