{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>{{ request.user.username }} | Update profile</title>
<link rel="stylesheet" href="{% static 'css/records_status.css' %}"/>
{% endblock %}

{% block container %}
<section class="record_status">
<body>
    <div class="container-fluid text-center">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="d-flex align-items shadow justify-content-center title-container mt-5 shadow" id="title-container">
                    <p class="title" style="margin: 0;"> RECORDS STATUS </p>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div id="record-section" class="col-6 p-4 align-items-center" id="profile-box">
                <table class="table custom-table">
                    <thead>
                        <tr>
                            <th class="text-center align-middle Teko-Light">Demon</th>
                            <th class="text-center align-middle Teko-Light">Video Proof</th>
                            <th class="text-center align-middle Teko-Light">Status</th>
                            <th class="text-center align-middle Teko-Light">Mod Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if records %}
                        {% for record in records %}
                        <tr class="table-row">
                            <td class="player-cell text-center align-middle">
                                <a href="{% url 'demonlist:detail' record.demon.position %}" target="_blank">{{record.demon}}</a>
                            </td>
                            <td class="video-link-cell text-center align-middle">
                                {% if record.video %}<a class="btn btn-primary" style="margin: 0 auto;" href="{{record.video}}" target="_blank">{{record.video_platform}}</a>{% else %}<br><br>{% endif %}
                            </td>
                            <td class="accepted-cell text-center align-middle">
                                {% if record.accepted %}
                                <i class="fas fa-check-circle" style="font-size: 22px; color: green;"></i>
                                {% elif record.accepted is none %}
                                <i class="fas fa-clock" style="font-size: 22px; color: gray;"></i>
                                {% else %}
                                <i class="fas fa-times-circle" style="font-size: 22px; color: red;"></i>
                                {% endif %}
                            </td>
                            <td class="mod_notes-cell text-center align-middle">{% if record.mod_notes %}{{record.mod_notes}}{% else %}-{% endif %}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr class="table-row">
                            <td colspan="4" class="player-cell Teko-Light">
                                There have been no records yet
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
    
        </div>

    </div>
</body>

{% endblock %}