{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-sm-12 col-md-10 col-lg-6 p-5" id="profile-box">

            <form action="{% url "users:update" %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class='media'>
                    {% if request.user.profile.picture %}
                        <img src="{{request.user.profile.picture.url}}" class="rounded-circle" width="50" height="50"/>
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" width="50" height="50"/>
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">{{ request.user.username }}</h5>
                        
                        {% for error in form.picture.errors %}
                        <div class="alert alert-danger">
                            <b>Picture: </b>{{error}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr>
                {% if request.user.profile.discord %}
                    {% if request.user.profile.verified %}
                        <p style="margin-left: 15px; margin-top: 10px;"><i class="fas fa-check-circle" style="margin-left: 10px; color: #4169E1; margin-right: 5px;"></i>Your account has been verified.</a></p>
                    {% elif request.user.profile.verified is none %}
                        <p style="margin-left: 15px; margin-top: 10px;"><i class="fas fa-clock" style="font-size: 18px; color: gray; margin-right: 5px;"></i>Your account is being verified, please wait for our response.</a></p>
                    {% else %}
                        <p style="margin-left: 15px; margin-top: 10px;"><i class="fas fa-times-circle" style="font-size: 18px; color: red; margin-right: 5px;"></i>The verification of your account has been rejected.</a></p>
                    {% endif %}
                {% else %}
                <p style="margin-left: 15px; margin-top: 10px;"><i class="fas fa-exclamation-triangle" style="color: #FFA500; font-size: 18px; margin-right: 5px;"></i>To verify your account, please enter your Discord username and <a href="https://discord.gg/PlatformerList">join the server.</a></p>
                {% endif %}
                {# Picture field #}
                <div class="form-group">
                    <label>Picture</label>
                    <p class="form-control"><input type="file" name="picture"></p>
                    
                    {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <b>Picture: </b>{{error}}
                    </div>
                    {% endfor %}
                </div>

                {# Username field #}
                <div class="form-group">
                    <label>Username</label>
                    <input 
                        class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="username" 
                        placeholder="Username" 
                        value="{% if form.errors %}{{form.username.value}}{% else %}{{request.user.username}}{% endif %}"/>
                        {% for error in form.website.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Discord field #}
                <div class="form-group">
                    <label>Discord username</label>
                    <input 
                        class="form-control {% if form.discord.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="discord" 
                        placeholder="Discord username" 
                        value="{% if form.errors %}{{form.errors}}{% else %}{% if request.user.profile.discord %}{{request.user.profile.discord}}{% endif %}{% endif %}"/>
                        {% for error in form.discord.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Youtube channel field #}
                <div class="form-group">
                    <label>Youtube channel</label>
                    <input 
                        class="form-control {% if form.youtube_channel.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="youtube_channel" 
                        placeholder="Youtube channel"
                        value="{% if form.errors %}{{form.youtube_channel.value}}{% else %}{% if request.user.profile.youtube_channel %}{{request.user.profile.youtube_channel}}{% else %}https://www.youtube.com/@{% endif %}{% endif %}"
                        oninput="updateYoutubeValue(this)"/>
                        {% for error in form.website.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Twitter field #}
                <div class="form-group">
                    <label>Twitter</label>
                    <input 
                        class="form-control {% if form.twitter.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="twitter" 
                        placeholder="Twitter"
                        value="{% if form.errors %}{{form.twitter.value}}{% else %}{% if request.user.profile.twitter %}{{request.user.profile.twitter}}{% else %}https://twitter.com/{% endif %}{% endif %}"
                        oninput="updateTwitterValue(this)"/>
                        {% for error in form.twitter.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Twitch field #}
                <div class="form-group">
                    <label>Twitch</label>
                    <input 
                        class="form-control {% if form.twitch.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="twitch" 
                        placeholder="Twitch"
                        value="{% if form.errors %}{{form.twitch.value}}{% else %}{% if request.user.profile.twitch %}{{request.user.profile.twitch}}{% else %}https://twitch.tv/{% endif %}{% endif %}"
                        oninput="updateTwitchValue(this)"/>
                        {% for error in form.twitch.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Facebook field #}
                <div class="form-group">
                    <label>Facebook</label>
                    <input 
                        class="form-control {% if form.facebook.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="facebook" 
                        placeholder="Facebook"
                        value="{% if form.errors %}{{form.facebook.value}}{% else %}{% if request.user.profile.facebook %}{{request.user.profile.facebook}}{% else %}https://facebook.com/{% endif %}{% endif %}"
                        oninput="updateFacebookValue(this)"/>
                        {% for error in form.facebook.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Country field #}
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" id="country" name="country">
                        <option selected disabled="disabled" value="0">-- Country --</option>
                        {% for country in countries %}
                        <option value="{{country}}" {% if request.user.profile.country == country %}selected{% endif %}>{{country}}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.country.errors %}
                        <div class="invalid-feedback">
                            {{error}}
                        </div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
</div>
<script>
    function updateYoutubeValue(input) {
        const userValue = input.value.substring("https://www.youtube.com/@".length);
    
        input.value = "https://www.youtube.com/@" + userValue;
      }
      function updateTwitterValue(input) {
        const userValue = input.value.substring("https://twitter.com/".length);
    
        input.value = "https://twitter.com/" + userValue;
      }
      function updateTwitchValue(input) {
        const userValue = input.value.substring("https://twitch.tv/".length);
    
        input.value = "https://twitch.tv/" + userValue;
      }
      function updateFacebookValue(input) {
        const userValue = input.value.substring("https://facebook.com/".length);
    
        input.value = "https://facebook.com/" + userValue;
      }
</script>
{% endblock %}

{% block footer_margin %}150{% endblock %}