{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url "users:update" %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class='media'>
                    {% if profile.picture %}
                        <img src="{{profile.picture.url}}" class="rounded-circle" width="50" height="50"/>
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" width="50" height="50"/>
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">{{ user.username }} | {{user.get_full_name}}</h5>
                        
                        {% for error in form.picture.errors %}
                        <div class="alert alert-danger">
                            <b>Picture: </b>{{error}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <hr><br>

                {# Picture field #}
                <div class="form-group">
                    <label>Picture</label>
                    <p class="form-control"><input type="file" name="picture"></p>
                    
                    {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <b>Picture: </b>{{error}}
                    </div>
                    {% endfor %}
                </div>

                {# Username field #}
                <div class="form-group">
                    <label>Username</label>
                    <input 
                        class="form-control {% if form.username.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="username" 
                        placeholder="Username" 
                        value="{% if form.errors %}{{form.username.value}}{% else %}{{user.username}}{% endif %}"/>
                        {% for error in form.website.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Youtube channel field #}
                <div class="form-group">
                    <label>Youtube channel</label>
                    <input 
                        class="form-control {% if form.youtube_channel.errors %}is-invalid{% endif %}"
                        type="text" 
                        name="youtube_channel" 
                        placeholder="Youtube channel" 
                        value="{% if form.errors %}{{form.youtube_channel.value}}{% else %}{{profile.youtube_channel}}{% endif %}"/>
                        {% for error in form.website.errors %}
                            <div class="invalid-feedback">
                                {{error}}
                            </div>
                        {% endfor %}
                </div>

                {# Country field #}
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" id="country" name="country">
                        <option selected disabled="disabled" value="0">-- Country --</option>
                        {% for country in countries %}
                        <option value="{{country}}" {% if profile.country == country %}selected{% endif %}>{{country}}</option>
                        {% endfor %}
                    </select>
                    {% for error in form.country.errors %}
                        <div class="invalid-feedback">
                            {{error}}
                        </div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center">

        <div id="record-section" class="col-6 p-4 align-items-center" id="profile-box">
            <p style="font-size: 28px; color: #454546; font-weight: bold; text-align: center; margin-bottom: 10px;">Records</p>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th class="text-center align-middle">Demon</th>
                        <th class="text-center align-middle">Video Proof</th>
                        <th class="text-center align-middle">Status</th>
                        <th class="text-center align-middle">Mod Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% if records %}
                    {% for record in records %}
                    <tr class="table-row">
                        <td class="player-cell text-center align-middle">
                            <a href="{{record.video}}" target="_blank">{{record.demon}}</a>
                        </td>
                        <td class="video-link-cell text-center align-middle">
                            <a class="btn btn-primary" href="{{record.video}}" target="_blank">YouTube</a>
                        </td>
                        <td class="accepted-cell text-center align-middle">
                            {% if record.accepted %}
                            <i class="fas fa-check-circle" style="font-size: 22px; color: green;"></i>
                            {% elif record.accepted is none %}
                            <i class="fas fa-clock" style="font-size: 22px; color: gray;"></i>
                            {% else %}
                            <i class="fas fa-times-circle" style="font-size: 22px; color: red;"></i>
                            {% endif %}
                        </td>
                        <td class="mod_notes-cell text-center align-middle">{% if record.mod_notes %}{{record.mod_notes}}{% else %}-{% endif %}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="table-row">
                        <td colspan="3" class="player-cell">
                            There have been no records yet
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}