{% load custom_tags %}
{% load static %}


<section class="container d-none d-md-block">
    <div class="row">
        <div class="col-sm-12 col-md-12 offset-md-2 p-4 d-flex post-container demon-item mt-{% if forloop.first %}3{% else %}4{% endif %} demonCard shadow" style="margin: 0; border-radius: 10px" id="{{demon.level}}">
            <div class="position-relative"> <!-- Contenedor relativo -->
                <!-- Enlace de YouTube con icono gris y rojo al hacer hover -->
                <a href="{{demon.verification_video}}" style="position: absolute; top: 50%; left: 48%; transform: translate(-50%, -50%);">
                    <i class="fab fa-youtube youtube-icon"></i> <!-- Ajustado el tamaño del icono y agregado el cambio de color al hacer hover -->
                </a>

                <!-- Imagen del demonio -->
                <img style="width: 80; height: 125px;" src="{{ demon.photo.url }}" alt="{{ demon.level }}" class="float-left mr-3">
            </div>
            <div>   
                <p class="mt-1 ml-2">
                    <!--<a href="" style="color: #000; font-size: 20px;">
                        <i class="far fa-heart"></i>
                    </a>-->
                </p>
                <p class="ml-2 mt-0 mb-2">
                    <a href="{% url 'demonlist:detail' demon.position %}" style="font-size: 30px; color: black; font-weight: bold; " class="Teko-Medium">#{{demon.position}} - {{ demon.level }}</a>
                </p>
                <p class="ml-2 mt-0 mb-2">
                    <b style="font-size: 20px; font-style: italic; color: #666666;" class="Teko-Light">{{demon.creator}}</b>
                </p>
            </div>
        </div>
    </div>
</section>


<section class="container d-block d-md-none">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 mt-3 p-6 d-flex post-container demon-item shadow" id="{{demon.level}}">
            <div class="mt-{% if forloop.first %}3{% else %}4{% endif %}">
                <img style="width: 80px; height: 58px;" src="{{ demon.photo.url }}" alt="{{ demon.level }}" class="mr-3">
            </div>
            <div>
                <p class="mt-1 ml-2">
                    <!--<a href="" style="color: #000; font-size: 20px;">
                        <i class="far fa-heart"></i>
                    </a>-->
                </p>
                <p class="ml-2 mt-0 mb-2">
                    <a href="{% url 'demonlist:detail' demon.position %}" style="font-size: 20px; color: black; font-weight: bold;">#{{demon.position}} - {{ demon.level }}</a>
                </p>
                <p class="ml-2 mt-0 mb-2">
                    <b style="font-size: 15px; font-style: italic; color: #666666;">{{demon.creator}}</b>
                </p>
        
            </div>
        </div>
    </div>

</section>

