{% extends "base.html" %}

{% block head_content %}
    <title>Platform Demon List</title>
{% endblock%}

{% block container %}

    <div class="row">
        <div class="col-md-8">
        
            <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-1 post-container-1">
                <input class="mb-0" type="text" id="search" placeholder="Search demon..." oninput="search_demon(this);">
            </div>

            {% for demon in demons %}
                {% include "demonlist/demon_card.html" %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-3 post-container">
                <div class="underlined">
                    <h2>List Helpers</h2>
                </div>
                <p>Contact these people if you have any questions regarding why a specific record was rejected. Do not needlessly bug them about checking submissions though!</p>
                <ul style="line-height: 30px">
                    <li>
                        <a target="_blank" href="https://www.youtube.com/channel/UCD8KSXG99kYjx3yqR4aEZ4w">ChuckyGD</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/@Hausty1">Hausty</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/@DoSh7t">DoSh7t</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.youtube.com/@DirisXD">Diris</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function search_demon(demon)
        {
            $('.demon-item').each(function() {
                var currentDemon = $(this);
                console.log(currentDemon.attr("id"));
                console.log(demon.value);

                
                if (!currentDemon.attr("id").toLowerCase().includes(demon.value.toLowerCase())) {
                    currentDemon.addClass('hidden');
                }
                else {
                    currentDemon.removeClass('hidden');
                }
            });
    }
    </script>

{% endblock %}
