{% extends "base.html" %}

{% block head_content %}
<title>Select Roulette</title>
{% endblock %}

{% block container %}

    <section class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-10 col-md-10 col-lg-8 pt-3 pb-3 mx-auto" id="profile-box">
                <h4 class="mb-4" style="text-align: center;">Select Roulette</h4>

                {% if request.user.profile %}
                    {% if not request.user.profile.verified %}
                    <p style="text-align: center;"><i class="fas fa-exclamation-triangle" style="color: #FFA500; font-size: 18px; margin-right: 5px;"></i>To submit a record, you must <a href="{% url "users:update" %}">verify</a> your account.</p>
                    {% endif %}
                {% else %}
                <p style="text-align: center;"><i class="fas fa-exclamation-triangle" style="color: #FFA500; font-size: 18px; margin-right: 5px;"></i>To submit a record, you must <a href="{% url "users:signup" %}">register</a> an account.</p>
                {% endif %}

                {% if user.profile.verified %}

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row" style="margin: 20px;">
                        <button class="col-sm-12 col-md-4 mt-5 p-3 select-roulette" style="color: black; background: none; border: none; padding: 0; text-align: center; height: 250px; max-width: 25%;">
                            <div class="underlined">
                                <h2 style="text-align: center;">Create Roulette</h2>
                            </div>
                            <input type="hidden" name="roulette" value="create">
                            <i class="fas fa-plus" style="margin-top: 40px; font-size: 4em; display: flex; justify-content: center; align-items: center;"></i>
                        </button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </section>

    <script>
        function limitInput(element, maxLength) {
            if (element.value.length > maxLength) {
                element.value = element.value.slice(0, maxLength);
            }
        }
    </script>

{% endblock %}

{% block footer_margin %}600{% endblock  %}