{% extends "base.html" %}

{% block head_content %}
<title>Submit new record</title>
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4">Submit new record</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="user" value="{{ user.pk}}" />
                    <input type="hidden" name="profile" value="{{ profile.pk }}" />


                    <div class="form-group">
                        <select class="form-control" id="demon" name="demon">
                            <option selected disabled="disabled" value="0">-- Demon --</option>
                            {% for demon in demons %}
                            <option value="{{demon.level}}">{{demon.level}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="number" name="percentage" placeholder="Percentage">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text" name="video" placeholder="Video">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div> 

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text" name="raw_footage" placeholder="Raw Footage">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div> 

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text" name="notes" placeholder="Notes">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div> 

                    <button type="submit" class="btn btn-primary btn-block mt-5">Publish!</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
