{% extends "base.html" %}

{% block head_content %}
<title>Submit new record</title>
{% endblock %}

{% block container %}

    <section class="container">
        <div class="row justify-content-md-center">
            <div class="col-sm-10 col-md-10 col-lg-8 pt-3 pb-3 mx-auto" id="profile-box">
                <h4 class="mb-4" style="text-align: center;">Submit new record</h4>

                {% if request.user.profile %}
                    {% if not request.user.profile.verified %}
                    <p style="text-align: center;"><i class="fas fa-exclamation-triangle" style="color: #FFA500; font-size: 18px; margin-right: 5px;"></i>To submit a record, you must <a href="{% url "users:update" %}">verify</a> your account.</p>
                    {% endif %}
                {% else %}
                <p style="text-align: center;"><i class="fas fa-exclamation-triangle" style="color: #FFA500; font-size: 18px; margin-right: 5px;"></i>To submit a record, you must <a href="{% url "users:signup" %}">register</a> an account.</p>
                {% endif %}

                {% if user.profile.verified %}

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="hidden" name="user" value="{{ user.pk}}" />
                    <input type="hidden" name="profile" value="{{ user.profile.pk }}" />

                    <div class="form-group">
                        <select class="form-control" style="border: 2px solid #ced4da;" id="demon" name="demon">
                            <option selected disabled="disabled" value="0">-- Demon --</option>
                            {% for demon in demons %}
                            <option value="{{demon.level}}">{{demon.level}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="hours">Hours:</label>
                                <input class="form-control" type="number" id="hours" name="hours" min="0" max="1000" placeholder="HH" oninput="limitInput(this, 2)" required>
                            </div> 
                            <div class="col-md-3">
                                <label for="minutes">Minutes:</label>
                                <input class="form-control" type="number" id="minutes" name="minutes" min="0" max="59" placeholder="MM" oninput="limitInput(this, 2)" required>
                            </div> 
                            <div class="col-md-3">
                                <label for="seconds">Seconds:</label>
                                <input class="form-control" type="number" id="seconds" name="seconds" min="0" max="59" placeholder="SS" oninput="limitInput(this, 2)" required>
                            </div> 
                            <div class="col-md-3">
                                <label for="milliseconds">Milliseconds:</label>
                                <input class="form-control" type="number" id="milliseconds" name="milliseconds" min="0" max="999" placeholder="MS" oninput="limitInput(this, 3)" required>
                            </div> 
                        </div> 
                    </div> 

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text" name="video" placeholder="Video">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div> 

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text" name="raw_footage" placeholder="Raw Footage">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div> 

                    <div class="form-group">
                        <input class="form-control {% if form.title.errors %}is-invalid{% endif %}" type="text" name="notes" placeholder="Notes">
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}{{ error }}{% endfor %}
                        </div>
                    </div> 

                    <button type="submit" class="btn btn-primary btn-block mt-5">Submit!</button>
                </form>
                {% endif %}
            </div>
        </div>
    </section>

    <script>
        function limitInput(element, maxLength) {
            if (element.value.length > maxLength) {
                element.value = element.value.slice(0, maxLength);
            }
        }
    </script>

{% endblock %}

{% block footer_margin %}600{% endblock  %}